h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
p
{
    font-family: cursive;
    color: chartreuse;
     border: 2px dashed blue;
     border-radius:25px 0 25px 0 ; 
     transition: all 1s;
     box-shadow: 5px 5px 0 0 ;
     box-shadow: chartreuse;
     border-color: black;
     transform: rotateY(180deg);
}
p:hover
{
    border-radius: 0;
}
.ozel 
{
    color: blueviolet;
    font-weight: bolder
}
.indirim 
{
    text-decoration: underline;
}

.ozel  .indirim    /*  select all element in specified classes*/ 
{
  color: red;

}

body > ol > li:nth-child(4) > ol > li:nth-child(1) 
{
     color: chartreuse;
}
#img-avatar {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 3px;   
}
  li:nth-child(odd) {

    background-color: coral;
  }

  li:nth-child(even) 
  {
      background-color: darkgreen;
  }

    table tr:nth-child(even)
  {
      background-color:deeppink
  }

 tbody > tr:nth-child(1) 
  {
background-color: transparent;

  }

  table th
  {
      background-color: yellow;
  }